.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: auto;
  min-height: 100vh;
  max-width: var(--max-width);
  padding: 117px 0;
}

.header {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}

.header span {
  color: #14f1ff;
}

.collections {
  margin-top: 86px;
}

.collectionHeader {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
}

.status {
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;

  background-image: linear-gradient(
    272.15deg,
    #001c1e -21.67%,
    #006089 21.57%,
    #00e0ee 62.15%,
    #effcfd 106.06%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
  max-width: 100%;

  margin-top: 31px;
}

@media (max-width: 1024px) {
  .main {
    padding: 50px 20px;
  }

  .grid {
    grid-template-columns: repeat(1, auto);
  }
}
