.container {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  width: 100%;
  height: 401px;
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, #005d84 0%, #84007f 100%);
  padding: 2px;
}
